body {
    background-color: #282828;
}

label {
    color: #fff!important;
}

.ready {
    color: #fff;
}

.field {
    margin-left: 0!important;
}

.text {
    color: #fff!important;
}

.header {
    color: #fff!important;
}

.segment {
    background-color: #282828!important;
}

.metadata {
    color: #d4d4d470!important;
}

.meta {
    color: #d4d4d470!important;
}

.ui.radio.checkbox input:checked~.box:before, .ui.radio.checkbox input:checked~label:before {
    background-color: #0f71c7!important;
}

.ui.radio.checkbox input:checked~label:after {
    background-color: #fff!important;
}