.item__content {
    padding: 1.25rem 0 1.25rem 1.25rem!important;
}

.item__img {
    margin: 0!important;
    justify-content: center!important;
    max-height: 6.25rem!important;
}

.comment {
    border-left: 1px solid $primary-color!important;
    padding: .625rem!important;
}

.metadata {
    color: $dark-meta-color!important;
    font-weight: bold!important;
    margin-left: 0!important;
}

.meta {
    color: $dark-meta-color!important;
}

.ready {
    color: $white-color;
}

.field {
    margin-left: 0!important;
}

.text {
    margin-top: 10px!important;
    color: $white-color!important;
}

.header {
    color: $white-color!important;
}

.ui.radio.checkbox input:checked~label:before {
    background-color: $primary-color!important;
}

.ui.radio.checkbox input:checked~label:after {
    background-color: $white-color!important;
}

.undo.icon {
    color: $white-color!important;
    &:hover {
        opacity: .5;
        transform: scale(1.1);
        transition: .5s;
    }
}

.expand.icon {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer!important;
    color: $white-color;
    font-size: 24px;
    z-index: 1000;

    &:hover {
        opacity: .6;
        transition: .6s;
    }
}

#pass-loader {
    display: inline-block;
    cursor: pointer;
    outline: none!important;
    border: none!important;
    box-shadow: none!important;
    background: transparent!important;
}

#pass-text {
    padding-right: 0!important;
    padding-left: 0!important;
}